.idea/
.vscode/*
!.vscode/
!.vscode/mcp.json

target/
*/target/

node_modules/
*/node_modules/

playwright-report/
*/playwright-report/
test-results/
*/test-results/
allure-report/
*/allure-report/
allure-results/
*/allure-results/
qa-automation/performance/results/

.DS_Store
.env
